.scroll-to-top {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: var(--blue-gradient);
  color: white;
  font-size: 2rem;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}
